{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="logo-font">Get your self one of our deliciouse <span class="color-3">boxes</span></h2>
                <hr>
                <h5 class="py-3">Choice your box size</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                {{ name }}
            </div>
        </div>
    </div>
{% endblock %}

