{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="logo-font">Select the length of your <span class="color-3">box</span></h2>
                <hr>
                <h5 class="py-3">Chooce your box length</h5>
            </div>
        </div>
        <div class="row">
            {% for length in length %}
                <div class="col-sm-12 col-md-4 text-center my-3">
                    <h4>{{ length.name }}</h4>
                    <button class="btn btn-outline-black rounded-0 mt-5 text-uppercase" type="submit">Select</button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

