{% extends "base.html" %}
{% load static %}

{% block content %}    
<div class="container">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h1>About us</h1>
        </div>
        <div class="col-12 mb-5">
            <p>
                <strong class="color-3">Taste world snacks</strong> is born out of my experiance of traveling to new countries and trying foods that I have never eaten, mostly snacks. I would walk around the grocery shop and look around for new and interesting things to buy. Now I know that a lot of people do/can not go on holiday to new countries. So I want to bring this amazing experience to them, so that they can still have the feeling of exploring a new country.<br>
                
            </p>

            <p>
                So our solition here at <strong class="color-3">taste world snacks</strong> is to offer custumers a box filled with snacks from different countries around the world.
                And as we all know, countries are not all financially equal in this world. That is why we choose to That to give back to the world. So we dicided to support the local community.
            </p>
            <p>
                Now you're wondering how do we support the local community? Well each box is carefully assembled by a local resident of that country. Not only do they have a better understanding of what is a typical snack from there and know which snacks are the best and which are popular. But from every box that is sold a part of the proceeds will go to that local resident. So that they will have an extra income stream to help there families.
            </p>
            <p>
                In our shop you can find all the amazing snacks from the box. So that you can purchase just that one snack you love the most and always keep an eye out because you never know when they will change. You will also support the local residents by buying in our shop because also here a part of the proceeds will go to local resident.
            </p>
        </div>
    </div>
</div>    


{% endblock %}