{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}    
    <div class="container-intro">
        <div class="row">
            <div class="col-12 ml-5">
                <h4 class="logo-font text-black text-center">
                    Always wanted to travel around the world but never got the time?
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-2 intro-text left offset-1">
                <h4 class="text-black text-center">
                    We have snacks from around the world
                </h4>
            </div>
            <div class="col-6" id="intro"></div>
            <div class="col-2 intro-text right">
                <h4 class="text-black text-center">
                    You want to try a new country next month?
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="logo-font text-black text-center mb-4">
                    The time is now, to travel around the world by taste. Try snacks from around the world!
                </h4>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container mt-5" id="works">
        <div class="row">
            <div class="text-center mb-4 text-black col-12">
                <h2>
                    How it works
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-4 text-center text-black step-1">
                <img src="{% static 'media/step_1.jpg' %}" alt="Step-1"> <!-- https://snacksurprise.com/ -->
                <p>Step 1</p>
                <h4>
                    Choose your box or get surprised
                </h4>
                <p>Choose your box size and get surprised. Don't like surprises or you know what country you want. Then choose your own box</p>
            </div>
            <div class="col-sm-12 col-lg-4 text-center text-black">
                <img src="{% static 'media/step-2.jpg' %}" alt="Step-2"> <!-- https://snacksurprise.com/ -->
                <p>Step 2</p>
                <h4>
                    We ship your box
                </h4>
                <p>Our snacks come directly from the source</p> <!-- https://www.snackcrate.com/how-it-works/ -->
            </div>
            <div class="col-sm-12 col-lg-4 text-center text-black">
                <img src="{% static 'media/step-3.jpg' %}" alt="Step-3"> <!-- https://snacksurprise.com/ -->
                <p>Step 3</p>
                <h4>
                    Enjoy the taste of a new country
                </h4>
                <p>Get ready to explore great new flavours!</p>
            </div>
        </div>
    </div>
    <hr class="my-4">
        <div class="container mt-5" id="inside">
        <div class="row">
            <div class="text-center mb-4 text-black col-12">
                <h2>
                    How it works
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-4 text-center text-black">
                <h4>
                    Snacks
                </h4>
                <p></p>
                <h4 class="mt-3">A booklet</h4>
                <p></p>
            </div>
            <div class="col-sm-12 col-lg-4 text-center text-black">
                 <img src="{% static 'media/step-3.jpg' %}" alt="Step-3">
            </div>
            <div class="col-sm-12 col-lg-4 text-center text-black">
                <h4>Great new flavours</h4>
                <p></p>
            </div>
        </div>
    </div>
    <hr class="my-4">



{% endblock %}