{% extends "base.html" %}
{% load static %}

<!-- {% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} -->

{% block content %}    
    <div class="container-intro">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="logo-font text-black text-center">
                    Always wanted to travel around the world but never got the time?
                </h4>
            </div>
        </div>
    </div>
    <div class="container" id="intro">
        <div class="row">
            <div class="col-sm-6 col-md-2 intro-text left offset-1">
                <h4 class="text-black text-center right">
                    We have snacks from around the world
                </h4>
            </div>
            <div class="col-md-6 sm-block sm-none"></div>
            <div class="col-sm-6 col-md-2 intro-text right">
                <h4 class="text-black text-center">
                    You want to try a new country next month?
                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="logo-font text-black text-center my-5" id="works">
                    The time is now, to travel around the world by taste. Try snacks from around the world!
                </h4>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container mt-5">
        <div class="row">
            <div class="text-center mb-4 text-black col-12">
                <h1>
                    How it works
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-4 text-center text-black step-1">
                <img src="{% static 'media/step_1.jpg' %}" alt="Step-1"> <!-- https://snacksurprise.com/ -->
                <p>Step 1</p>
                <h4>
                    Choose your box or get surprised
                </h4>
                <p>Choose your box size and get surprised. Don't like surprises or you know what country you want. Then choose your own box</p>
            </div>
            <div class="col-sm-12 col-lg-4 text-center text-black">
                <img src="{% static 'media/step-2.jpg' %}" alt="Step-2"> <!-- https://snacksurprise.com/ -->
                <p>Step 2</p>
                <h4>
                    We ship your box
                </h4>
                <p>Our snacks come directly from the source</p> <!-- https://www.snackcrate.com/how-it-works/ -->
            </div>
            <div class="col-sm-12 col-lg-4 text-center text-black">
                <img src="{% static 'media/step-3.jpg' %}" alt="Step-3"> <!-- https://snacksurprise.com/ -->
                <p>Step 3</p>
                <h4>
                    Enjoy the taste of a new country
                </h4>
                <p id="inside">Get ready to explore great new flavours!</p>
            </div>
        </div>
    </div>
    <hr class="my-4">
        <div class="container mt-5">
        <div class="row">
            <div class="text-center mb-4 text-black col-12">
                <h2>
                    What's inside
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-4 text-center text-black">
                <h4 class="my-4">
                    Snacks
                </h4>
                <p>In our original box you can expect to find 8-10+ full size snacks (not the mini bites!), and in our premium box you get 16-20+ snacks.</p> <!-- https://snacksurprise.com/ -->
                <h4 class="my-4">A booklet</h4>
                <p>A 12+ page booklet guides your adventure with trivia, recipes, and other surprises!</p> <!-- https://www.universalyums.com/ -->
            </div>
            <div class="col-sm-12 col-lg-4 text-center text-black">
                 <img src="{% static 'media/step-3.jpg' %}" alt="Step-3">
            </div>
            <div class="col-sm-12 col-lg-4 text-center text-black inside-middle">
                <h4 class="my-4">Great new flavours</h4>
                <p>Each box is filled with a variety of delicious goodies you’re sure to love.</p> <!-- https://trymysnacks.com/#whats-inside -->
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container mt-5">
        <div class="row">
            <div class="text-center mb-4 text-black col-12">
                <h2>
                    What our customers think of us
                </h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12 col-lg-4 text-center text-black">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 text-center text-black mb-5">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 text-center text-black">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p></p>
                       </div>
                </div>
            </div>
        </div>
    </div>   


{% endblock %}