{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center my-5">
                <hr>
                <h2 class="logo-font">Countries</h2>
                <hr class="color-3">
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for country in countries %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5">
                     <div class="card">
                        <div class="card-image waves-effect waves-block waves-light text-center">
                            {% if country.image %}
                                <a href="">
                                    <img class="img-fluid img-country" src="{{ country.image.url }}" alt="{{ country.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="img-fluid img-country" src="{{ MEDIA_URL }}noimage.png" alt="{{ country.name }}">
                                </a>
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <span class="card-title font-weight-bold">{{ country.name }}</span>
                            <p class="mt-3 "><span class="font-weight-bold">fun fact:</span><br>{{ country.about }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}