{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Countries</h2>
            </div>
        </div>
        <div class="card-group">
            <div class="card">
                <img src="{{ country.image }}" class="card-img-top" alt="{{ country.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ country.name }}</h5>
                    <p class="card-text">{{ country.about }}</p>
                </div>
            </div>
        </div>

{% endblock %}