html {
    color: #000;
}

body {
    background-size: cover;
    margin-top: 164px;
    font-family: 'lato';
}

.container {
    max-width: 100%
}


/*  General colors */

.color-1 {
    background-color: #68c4ff;
}

.color-2 {
    background-color: #ffa368;
}

.color-3 {
    color: #68c4ff;
}
.color-4 {
    color: #ffa368;
}

/* index page */

.container-intro {
    padding-top: 60px;
}

.container-category {
    background-color: #ffa368;
}

.review {
    width: 16rem;
}

.how-works {
    width: 100vw;
}
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #ffa368;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.border {
    border: 2px solid #ffa368!important;
}

/* Base page */

.fixed-top {
    padding: 0;
}

.title {
    font-family: ;
}

hr.divider {
    margin: 0;
    height: 15px;
    background-color: #ffa368
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #68c4ff
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 10px;
    border-top: 5px solid #ffa368;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}
.btn-black {
    background: black;
    color: #ffa368;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #86c4ff;
}

.text-black {
    color: #000 !important;
}

/* inside needs in index */

.inside-middle{
    padding-top: 90px;
}
/* Boxes for image */

.box {
    width: 40%;
}


/* Country */

.img-country {
    height: 150px;
    margin: auto;
}

/* FAQ */

.card-header {
    padding: 0;
}

.btn-link {
    color: #000;
}

/* Shop/Product detail */

.dropdown-menu {
    background-color: #ffa368;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: #86c4ff !important;
}

.img-shop {
    height: 200px;
}
/*  Bootstrap Toasts */


.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Footer */

.footer {
    background: #ffa368;
}

.footer-col {
    padding-left: 70px;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #ffa368;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Media queries */

@media (max-width: 767px) {
    h4{
        font-size: 20px;
    }
    html {
        font-size: 15px;
    }

    #intro {
        background: url(/media/images/main_img.jpg) no-repeat center center;
        height: auto;
    }
    
    .container-intro {
        padding-top: 0;
    }
    .intro-text.left {
        padding: 0;
        padding-bottom: 85px;
        padding-top: 35px;
    }

    .intro-text.right {
        padding: 0;
        padding-top: 85px;
    }

    .inside-middle{
        padding-top: 0px;
    }

}

@media (min-width: 768px) {
    

    #intro {
        background: url(/media/images/main_img.jpg) no-repeat center center;
        height: auto;
    }

    .intro-text.left {
        padding: 0;
        padding-top: 65px;
    }

    .intro-text.right {
        padding: 0;
        padding-top: 45px;
    }

}

@media (min-width: 1024px) {
    
    #intro {
        background: url(/media/images/main_img_1.jpg) no-repeat center center;
        height: 300px;
    }
    
    .secret {
        height: 238px;
    }
    .intro-text.left {
        padding: 0;
        padding-top: 95px;
    }

    .intro-text.right {
        padding: 0;
        padding-top: 95px;
    }

    .footer-col {
        padding-left: 0;
    }

}