
/* index page */

.container-intro {
    padding-top: 60px;
}

/* Base page */

.fixed-top {
    padding: 0;
}

hr.divider {
    border: 15px solid #ffa368;
    margin: 0;
}

body {
    background-size: cover;
    margin-top: 164px;
    color: #555;
    font-family: 'lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 10px;
    border-top: 5px solid #ffa368;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* inside */

.inside-middle{
    padding-top: 90px;
}

/* Footer */

footer {
    background: #ffa368;
    /* padding-left: 40px; */
}

footer.col-sm-12 {
    padding-left: 40px;
}

@media (max-width: 767px) {
    h4{
        font-size: 20px;
    }
    html {
        font-size: 15px;
    }

    #intro {
        background: url(/static/media/main_img.jpg) no-repeat center center;
        height: auto;
    }
    
    .container-intro {
        padding-top: 0;
    }
    .intro-text.left {
        padding: 0;
        padding-bottom: 85px;
        padding-top: 35px;
    }

    .intro-text.right {
        padding: 0;
        padding-top: 85px;
    }

    .inside-middle{
        padding-top: 0px;
    }

}

@media (min-width: 768px) {
    
    #intro {
        background: url(/static/media/main_img.jpg) no-repeat center center;
        height: auto;
    }

    .intro-text.left {
        padding: 0;
        padding-top: 65px;
    }

    .intro-text.right {
        padding: 0;
        padding-top: 45px;
    }

}

@media (min-width: 1024px) {
    
    #intro {
        background: url(/static/media/main_img_1.jpg) no-repeat center center;
        height: 300px;
    }

    .intro-text.left {
        padding: 0;
        padding-top: 95px;
    }

    .intro-text.right {
        padding: 0;
        padding-top: 95px;
    }

}