        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-2 mt-4 footer-col offset-lg-1">
                <h5>Shop</h5>
                <p>
                    <a class="text-black" href="{% url 'box' %}">Get a box</a><br>
                    <a class="text-black" href="{% url 'shop' %}">Our shop</a>
                </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mt-4 footer-col offset-lg-1">
                <h5>Explore</h5>
                <p>
                    <a class="text-black" href="{% url 'home' %}#works">How it works</a><br>
                    <a class="text-black" href="{% url 'home' %}#inside">What's inside</a><br>
                    <a class="text-black" href="{% url 'countries' %}">Countries</a>
                </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mt-4 footer-col offset-lg-1">
                <h5>Support</h5>
                <p>
                    <a class="text-black" href="{% url 'contact_us' %}">Contact Us</a><br>
                    <a class="text-black" href="{% url 'faq' %}">FAQ</a>
                </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mt-4 footer-col offset-lg-1">
                <h5>Company</h5>
                <p>
                    <a class="text-black" href="{% url 'about_us' %}">About Us</a>
                    <ul class="linst-inline social-links text-left">
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.facebook.com/">
                                <i class="fab fa-facebook" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.instagram.com/">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://twitter.com/">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                    </ul>
                </p>
            </div>            
        </div>
