        <div class="row footer">
            <div class="col-sm-12 col-md-3 col-lg-2 mt-4 footer-col offset-lg-1">
                <h5>Shop</h5>
                <p>
                    <a class="text-black" href="">Get a box</a><br>
                    <a class="text-black" href="">Give a box</a><br>
                    <a class="text-black" href="">Our shop</a>
                </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mt-4 footer-col offset-lg-1">
                <h5>Explore</h5>
                <p>
                    <a class="text-black" href="{% url 'home' %}#works">How it works</a><br>
                    <a class="text-black" href="{% url 'home' %}#inside">What's inside</a><br>
                    <a class="text-black" href="">Countries</a>
                </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mt-4 footer-col offset-lg-1">
                <h5>Support</h5>
                <p>
                    <a class="text-black" href="">Contact Us</a><br>
                    <a class="text-black" href="{% url 'faq' %}">FAQ</a>
                </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mt-4 footer-col offset-lg-1">
                <h5>Company</h5>
                <p>
                    <a class="text-black" href="{% url 'about_us' %}">About Us</a>
                </p>
            </div>            
        </div>
