<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto d-block d-lg-none">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}"  id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown d-block d-lg-none">
            <a href="{% url 'home' %}#works" class="color-4">How it works</a>
        </li>
        <li class="nav-item dropdown d-block d-lg-none">
            <a href="{% url 'home' %}#inside" class="color-3">What's inside</a>
        </li>
        <li class="nav-item dropdown d-block d-lg-none">
            <a href="" class="color-4">Get a Box</a>
        </li>
        <li class="nav-item dropdown d-block d-lg-none">
            <a href="" class="color-3">Give a box</a>
        </li>
    </ul>
</div>

