<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto d-block d-lg-none">
        <li class="list-inline-item">
            <a href="{% url 'home' %}#works" class="text-black">How it works</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'home' %}#inside" class="text-black">What's inside</a>
        </li>
        <li class="list-inline-item">
            <a href="" class="text-black">Get a Box</a>
        </li>
        <li class="list-inline-item">
            <a href="" class="text-black">Give a box</a>
        </li>
    </ul>
</div>