<div class="collapse navbar-collapse" id="shop-nav">
    <ul class="navbar-nav w-auto mx-auto d-block d-lg-none">        
        <li class="nav-item dropdown d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-shop-link">
                <a href="{% url 'shop' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'shop' %}?sort=name&direction=desc" class="dropdown-item ">By name</a>
                <a href="{% url 'shop' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{{ product.country }}">
                Country
            </a>
        </li>
        <li class="nav-item dropdown d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'shop' %}?category=sweet">
                Sweet
            </a>
        </li>
        <li class="nav-item dropdown d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'shop' %}?category=chocolate">
                Chocolate
            </a>
        </li>
        <li class="nav-item dropdown d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'shop' %}?category=savoury">
                Savoury
            </a>
        </li>
    </ul>
</div>
