{% extends "base.html" %}
{% load static %}

{% block content %}    
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <hr>
            <h2>Contact us</h2>
            <hr>
            <h5>Send us a Message</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="send" class="col-12 py-3">
            <form action="{% url 'contact_us' %}" method="POST" id="user-contact-form" class="col-12 col-md-6 offset-md-3">
                {% csrf_token %}
                <div class="form-group">
                    <legend class="fieldset-label small text-black px-2 w-auto">Full Name *</legend>
                    <input type="text" name="txtName" class="form-control" required />
                    <legend class="fieldset-label small text-black px-2 w-auto">Email *</legend>
                    <input type="email" id="email" name="txtEmail" class="form-control" required />
                    <legend class="fieldset-label text-black px-2 w-auto">Message *</legend>
                    <textarea name="txtMsg" class="form-control" style="width: 100%; height: 150px;" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" name="btnSubmit" class="btn btn-black logo-font rounded-0 mt-5" value="Post">SEND</button>
                    <a href="{% url 'home' %}" class="btn btn-outline-black logo-font rounded-0 mt-5 contact-link">Click here to return to the home page.</a>
                </div>
            </form>    
        </div>
    </div>
</div>






{% endblock %}