{% extends "base.html" %}
{% load static %}

{% block content %}    
<div class="container">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <hr>
            <h2>Contact us</h2>
            <hr>
            <h5>Thank You!</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <p class="lead">We will get back to you as soon as possible.</p>
                <a href="{% url 'home' %}">Click here to return back to the home page.</a>
        </div>
    </div>
</div>






{% endblock %}